[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
python-dotenv = "*"
mecab-python3 = "*"
pandas = "*"
anthropic = "*"

[dev-packages]

[requires]
python_version = "3.10"